@model IEnumerable<MainChapar.Models.PickupRequest>
@{
    Layout = "~/Views/Shared/_newLayout1.cshtml";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/assets/my orders/styles.css">
    <title>سفارشات من</title>
</head>

    <h2>سفارشات من</h2>

    @if (!Model.Any())
    {
        <p style="text-align:center;">سفارشی یافت نشد.</p>
    }
    else
    {
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>کد سفارش</th>
                        <th>تاریخ ثبت</th>
                        
                        <th>تعداد محصولات</th>
                        <th>تعداد سفارشات چاپ</th>
                        <th>جزئیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.CreatedAt.ToString("yyyy/MM/dd HH:mm")</td>
                            <td>@order.ProductItems.Sum(p => p.Quantity)</td>
                            <td>@order.PickupPrintItems.Count()</td>
                        <td><button id="details-btn"><a href="/Cart/Details/@order.Id" id="details-btn">جزئیات</a></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    

@*     <script>
        const userImg = document.getElementById('user-img');
        const userMenu = document.getElementById('user-menu');

        userImg.addEventListener('click', () => {
            userMenu.style.display = userMenu.style.display === 'block' ? 'none' : 'block';
        });

        document.addEventListener('click', function (event) {
            if (!userImg.contains(event.target) && !userMenu.contains(event.target)) {
                userMenu.style.display = 'none';
            }
        });
    </script> *@



