@model MainChapar.Models.Banner

@{
    ViewData["Title"] = "Create";
}




<h1>Create</h1>

<h4>Banner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Banner" asp-area="Admin" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Title)</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubTitle" class="control-label"></label>
                <input asp-for="SubTitle" class="form-control" />
                <span asp-validation-for="SubTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">pic</label>
                <input type="file" name="ImageFile" asp-for="ImageName" class="form-control" />

            </div>

            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" type="number" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <select asp-for="Position" class="form-control">
                    <option value="Mbanner">Mainbanner</option>
                    <option value="Banner1">Plan</option>
                    <option value="Banner2">BW</option>
                    <option value="Banner1">Color</option>
                    <option value="Banner2">Shop</option>

                </select>
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

