
@model MainChapar.ViewModel.UsedBookCreateViewModel
@{
    ViewData["Title"] = "ثبت کتاب دست دوم";
}
@{
    Layout = "~/Views/Shared/_newLayout1.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/create product/CreateUsedBook.css">

</head>
<body>
    <main class="main-content">

        <div id="top-container">

            <h2 class="section-title">ثبت کتاب جدید</h2>
        </div>
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="product-info">
              @*   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div asp-validation-summary="All" class="text-danger"></div> *@
                @Html.AntiForgeryToken()

                <div class="box">
                    <lable>عنوان :</lable>
                    <input asp-for="Title" id=" tilte" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>


                <div class="box">
                    <label>ناشر  :</label>
                    <input asp-for="Author" id=" tilte" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>


                <div class="box">
                    <label> اطلاعات تماس شما :</label>
                    <input asp-for="ContactNumber" id=" tilte" />
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                
                </div>



                <div class="box">
                    <label>تصویر اصلی :</label>
                    <input asp-for="MainImage" type="file" id=" tilte" />
                    <span asp-validation-for="MainImage" class="text-danger"></span>
                </div>



                <div class="box">
                    <label>تصاویر دیگر :</label>
                    <input asp-for="Images" type="file" id=" tilte" multiple />
                </div>

              
                <div class="box">
                    <label>قیمت :</label>
                    <input asp-for="Price" type="number"  placeholder="مثال : 20000">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>



                <div class="box" id="info-box">
                    <label>توضیحات تکمیلی :</label>
                    <textarea asp-for="Description" class="form-control" rows="3" style="
                             width: 50%;
                             max-width: 100%;
                             height: 120px;
                             resize: none; /* جلوگیری از تغییر اندازه */
                             padding: 10px;
                             font-size: 14px;
                             color: #000000;
                             border: 1px solid #ffffff;
                             margin-top:1rem;

                             border-radius: 8px;
                             background-color: #ffffff;
                             box-shadow: inset 0 1px 3px #ffffff;
                             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

            </div>
            <div class="form-button">
                <a asp-action="Mybook" class="btn btn-continue">بازگشت به کتاب‌های من</a>
                <button type="submit" class="btn btn-confirm">ثبت کتاب</button>
            </div>

        </form>

    </main>
</body>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
